@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #ebf5fc;
}
button{
    height: 70px;
    width: 250px;
    margin: 0 30px;
    font-size: 25px;
    outline: none;
    border: none;
    color: #6a9bd8;
    background: #ebf5fc;
    border-radius: 50px;
}
.btn-1{
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
   6px 6px 10px rgba(255, 255, 255, 0.2) ;
}
.btn-1:focus{
    font-size: 24px;
 box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
  inset 8px 8px 16px rgba(0, 0, 0, 0.1) ;
}
.btn-2{
    font-size: 24px;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
  inset 8px 8px 16px rgba(0, 0, 0, 0.1) ;
}
.btn-2:focus{
    font-size: 25px;
 box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.8),
  inset 8px 8px 16px rgba(0, 0, 0, 0.2) ;
}
footer {
    margin-top: auto;              
    background-color: #222;
    padding: 15px;
    display: flex;                 
    gap: 20px;                     
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: yellow;
}