* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: #111;
    overflow-x: hidden;
}

#toggle {
    display: none;
}


.sidebar {
    position: fixed;
    left: -280px;
    top: 0;
    width: 280px;
    height: 100%;
    background: linear-gradient(
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.8)
    ),
    url('https://images.unsplash.com/photo-1517336714731-489689fd1ca8') center/cover no-repeat;

    transition: 0.4s ease;
    padding-top: 60px;
}


#toggle:checked ~ .sidebar {
    left: 0;
}


.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 15px 25px;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background: rgba(255,255,255,0.1);
    padding-left: 10px;
    border-radius: 5px;
}

.menu-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 22px;
    background: #222;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.menu-btn:hover {
    background: #444;
}

footer {
    margin-top: auto;              
    background-color: #222;
    padding: 15px;
    display: flex;                
    gap: 20px;                     
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: yellow;
}