* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1e1e1e, #2c3e50);
}


.card-container {
    perspective: 1000px;
}


.card {
    width: 300px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}


.card-container:hover .card {
    transform: rotateY(180deg);
}


.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    backface-visibility: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}


.card-front {
    background: linear-gradient(135deg, #3498db, #6dd5fa);
}


.card-back {
    background: linear-gradient(135deg, #e74c3c, #ff7675);
    transform: rotateY(180deg);
}
footer {
    margin-top: auto;              
    background-color: #222;
    padding: 15px;
    display: flex;                 
    gap: 20px;                     
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: yellow;
}